@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap');
html {
  font-family: 'Nunito', sans-serif;
  scroll-behavior: smooth;
}
body{
  padding: 20px 0px 0 0px;
  font-family: 'Nunito', sans-serif;
  margin: 0;
}
.navbar1 {
  width: 81.25%;
  margin: 0 auto;
}
.navbar-brand {
  padding: 0 0 20px 0;
  margin-left: -16px;
}
.navbar1 li {
  margin-top: -16px;
}
.navbar1 ul {
  margin-right: -16px;
}
.navbar1 .nav-link1 {
 color: #5C6673;
 padding: 7px 12px 7px 0;
 font-size: 14px;
 border-right: 1px solid #845BB3;
}
.navbar1 .nav-link2 {
 color: #5C6673;
 padding: 7px 22px 7px 12px;
 font-size: 14px;
}
.navbar1 .nav-link3 {
  padding: 7px 8px;
}
.navbar-custom .navbar-toggler {
  border-color: #fff;
  margin: 5px 0;
}
.navbar-custom .navbar-toggler:focus {
  outline: none;
}
.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar2{
 background-color: #845BB3;
}
.navbar2 nav {
  width: 81.25%;
  margin: 0 auto;
  padding: 0 !important;
}
.navbar2 ul {
  margin-left: -12px;
}
.navbar2 li {
  margin-right: 24px;
}
.navbar2 a {
  padding: 8px 48px 8px 0px !important;
  font-size: 16px;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  color: #fff;
  padding: 9px 12px !important;
  margin: 0 !important;
}
.navbar2 a:hover {
  border-top: 3px solid transparent;
  border-bottom: 3px solid #fff;
  text-shadow: 0 0 1px #fff, 0 0 1px #fff;
  transition: 0.4s;
}

.backgroundPic {
  width: 81.25%;
  margin: 0 auto;
  position: relative;
}
.backgroundPic img {
  width: 100%;
  height: auto;
}
.maskText {
  position: absolute;
  bottom: 60px;
  left: 60px;
}
.maskText h1 {
  font-size: 40px;
  color: #13203B;
  padding-bottom: 8px;
  font-weight: bolder;
}
.maskText p {
  font-size: 16px;
  color: #5C6673;
  padding-bottom: 0;
  margin-bottom: 0;
}
.pageLinks {
  width:  81.25%;
  margin: 0 auto;
  padding: 20px 0 40px 0;
}
.pageLinks li {
  padding-right: 10px;
}
.pageLinks a {
  color: #13203B;
  font-size: 16px;
  text-decoration: underline;
  font-weight: bold;
}
.pageLinks .active {
  color: #5C6673;
  text-decoration: none;
  font-weight: normal;
}
.crta {
  position: relative;
  width: 12px;
  margin-right: 10px;
}
.crta span {
  width: 12px;
  height: 1px;
  background-color: #5C6673;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.myContainer{
  width: 81.25%;
  padding: 30px 0 0 0;
}
.paddingright30 {
  padding: 0 30px 0 0 !important;
  margin: 0 !important;
}
.filter{
  border: 1px solid rgba(138, 153, 173, 0.2);
  border-radius: 15px;
}
.filterdiv {
  padding: 60px 20px 38px 20px;
}
.filtercena {
  border-bottom: 1px solid rgba(138, 153, 173, 0.2);
  padding-bottom: 40px;
}
.filter h4 {
  color: #13203B;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 20px;
  margin-right: 30px;
  margin-bottom: 0;
}

.middle {
  position: relative;
  width: 100%;
} 
.middle p {
  margin-bottom: 0;
}
.multi-range-slider {
  margin-bottom: 15px;
}
.slider {
  position: relative;
  z-index: 1;
  height: 6px;
  margin-top: 5px;
}
.slider > .track {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 3px;
  background-color: #AAC2E1;
}
.slider > .range {
  position: absolute;
  z-index: 2;
  left: 25%;
  right: 25%;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #845BB3;
}
.slider > .thumb {
  position: absolute;
  z-index: 3;
  width: 20px;
  height: 20px;
  background-color: #845BB3;
  border-radius: 50%;
  border: 2px solid #fff;
}
.slider > .thumb.left {
  left: 25%;
  transform: translate(-15px, -7px);
}
.slider > .thumb.right {
  right: 25%;
  transform: translate(15px, -7px);
}
input[type=range] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 2;
  height: 10px;
  width: 100%;
  opacity: 0;
}
input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  width: 20px;
  height: 20px;
  border-radius: 0;
  border: 0 none;
  background-color: red;
  -webkit-appearance: none;
}
.slider > .thumb.hover {
  cursor: pointer;
}
.priceRange {
  color: #5C6673;
  font-size: 16px;
}

.filterbrend {
  padding: 40px 0;
  border-bottom: 1px solid rgba(138, 153, 173, 0.2);
}
.filterbrend p {
  line-height: 93%;
}
.filterzapremina {
  padding-top: 20px;
}
.filterzapremina p {
  line-height: 93%;
}
.checkbox-wrapper label {
  margin-bottom: 22px;
}
.checkmark {
  display: block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid #5C6673;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  transition: 0.4s;
}
.checkbox-wrapper input:checked ~ .checkmark {
  background-color: #845BB3;
  border: 1px solid #845BB3;
}
.checkmark::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 11px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%) rotateZ(40deg);
}
.checkbox-wrapper {
  position: relative;
}
.checkbox-wrapper p {
  color: #5C6673;
  font-size: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
}
.cenaNaslov {
  position: relative;
}
.brendNaslov {
  position: relative;
}
.zapreminaNaslov {
  position: relative;
}
.hideMenu {
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  height: 24px;
  background: url(images/ic_chevron_down_black.svg) center center no-repeat;
  background-size: cover;
  cursor: pointer;
}
.myScrollbar {
  width: 100%;
  height: 272px;
  overflow-y: scroll;
}
.myScrollbar::-webkit-scrollbar {
  width: 15px;
}
.myScrollbar::-webkit-scrollbar-track {
  background-color: #F1F1F1; 
}
.myScrollbar::-webkit-scrollbar-thumb {
  background: #C1C1C1; 
  border: 2px solid #F1F1F1;
}
.product {
  padding: 0 30px 30px 0 !important;
  margin: 0 !important;
}
.product a:hover {
  text-decoration: none;
}
.opis {
  border-radius: 15px;
  box-shadow: 0px 3px 10px #13203B1A;
}
.opis:hover {
  box-shadow: 0px 3px 35px #13203B26;
  transition: 0.5s;
}
.opis:hover .picture {
  border-bottom: 2px solid #845BB3;
}
.opis:hover .opisprod {
  border-top: none;
} 
.picture {
  padding: 13px 24px 16px 24px;
  margin: 0 !important;
  border-bottom: 1px solid #AAC2E1;
  box-sizing: border-box;
  position: relative;
}
.picture img {
  margin: 0 auto;
  width: 100%;
  height: auto;
}
.picture .sale {
  width: 42px;
  height: 42px;
  background-color: #7A92F2;
  border-radius: 100%;
  position: absolute;
  top: 8px;
  right: 8px;
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.picture .sale p {
  padding-top: 11px;
}
.picture .novo {
  width: 42px;
  height: 42px;
  background-color: #845BB3;
  border-radius: 100%;
  position: absolute;
  top: 8px;
  right: 8px;
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.picture .novo p {
  padding-top: 11px;
}
.picture .sale1 {
  width: 42px;
  height: 42px;
  background-color: #7A92F2;
  border-radius: 100%;
  position: absolute;
  top: 58px;
  right: 8px;
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.picture .sale1 p {
  padding-top: 11px;
}
.opisprod {
  padding: 23px 20px 20px 20px;
  position: relative;
  border-top: 1px solid transparent;
}
.opisprod p {
  color: #5C6673;
  font-size: 14px;
  padding: 0;
  margin: 0;
}
.opisprod .like {
  width: 40px;
  height: 24px;
  position: absolute;
  top: 20px;
  right: 4px;
  background: url(images/ic_heart_outline.svg) left center no-repeat;
  background-size: cover;
}
.opisprod h3 {
  font-size: 16px;
  font-weight: bold;
  color: #13203B;
  padding: 10px 0 40px 0;
}
.opisprod h2 {
  padding: 0 10px 0 0; 
  margin: 0;
  font-size: 24px;
  font-weight: bolder;
  color: #13203B;
}
.saleactive h2 {
  color: #845BB3;
}
.opis .row p {
  color: #13203B;
  font-size: 16px;
  font-weight: bold;
  text-decoration: line-through;
  vertical-align: text-bottom;
  display: none;
}
.saleactive .row p {
  display: block;
}
.saleprice {
  position: relative;
}
.saleprice p {
  position: absolute;
  left: 0;
  bottom: 0;
}
.sortBy {
  width: 81.25%;
  margin: 0 auto;
  color: #5C6673;
  font-size: 16px;
  padding-top: 60px;
}
.noOfProd p {
  margin: 10px 0;
}
.dropdown{
  padding-left: 20px;
}
.dropdown-menu {
  border: 1px solid #845BB3;
  border-radius: 5px;
  background-color: #fff;
  padding-top: 13px;
  width: 176px;
  margin-left: 20px
}
.buffer {
  height: 8px;
  width: 100%;
  padding:0;
  margin:0;
}
.btn {
  border: 1px solid #5C6673;
  border-radius: 5px;
  background-color: #fff;
  padding: 0;
}
.btn p {
  margin: 0;
  padding: 9px 0 9px 15px;
  color: #5C6673;
  font-size: 16px;
}
.btn:focus {
  box-shadow: none;
  border: 1px solid #845BB3;
  border-radius: 5px;
  background-color: #fff;
}
.dropdown:focus .dropdown-menu {
  display: none;
}
.btn:hover {
  border: 1px solid #845BB3;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.buffer:hover .dropdown-menu {
  display: block;
}
.btn:focus .dropdown-menu {
  display: none;
  margin-left: -20px;
}
.dropdownArrow {
  width: 24px;
  height: 24px;
  background: url(images/ic_chevron_down_black.svg) center center no-repeat;
  background-size: cover;
  margin:8px 10px 8px 59px;
}
.dropdown-item {
  color: #5C6673;
  padding-left: 20px;
}
.dropdown-item:hover {
  background-color: rgba(92, 102, 115, 0.05);
}
.sortirajPo {
  margin: 10px 0 10px 0;
}
.sortBy1 {
  display: none;
  font-size: 16px;
}
.sortBy1 .sort {
  text-align: center;
}
.sortBy1 .noOfProd {
  text-align: center;
}
.pages {
  width: 81.25%;
  margin: 0 auto;
  padding: 30px 0 80px 0; 
}
.pagination {
  justify-content: center;
}
.pages ul {
text-align: center;
}
.arrowRight, .arrowLeft {
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 100% !important;
  background-color: #845BB3;
}
.arrowLeft {
  position: relative;
  margin-right: 36px;
}
.arrowLeft img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.arrowRight {
  position: relative;
  margin-left: 14px;
}
.arrowRight img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.arrowRight:hover, .arrowLeft:hover {
  background-color: #845BB3;
}
.btnDisabled .arrowRight, .btnDisabled .arrowLeft {
  background-color: #5C6673 !important;
}
.pageNo .page-link {
  color: #5C6673;
  font-size: 16px;
  border: none;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  padding: 4px;
  margin: 6px 22px 6px 0;
}
.pageNo .page-link:hover {
  background-color: transparent;
}
.page-item.active .page-link{
  color: #845BB3;
  border: none;
  border-top: 3px solid transparent;
  border-bottom: 3px solid #845BB3;
  background-color: transparent;
  font-weight: bold;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.megaRow {
  padding: 0 !important;
  margin: 0 -30px 0 0 !important;
}
.displayNone {
  display: none;
}
footer {
  background-color: #13203B;
  color: #D2D7DF;
  position: relative;
}
.mainfooter {
  width: 81.25%;
  margin: 0 auto !important;
  position: relative;
}
.scrollUp {
  position: absolute;
  right: 20px;
  bottom: 56px;
  width: 48px;
  height: 48px;
  background-color: #7A92F2;
  border-radius: 50%;
}
.strelica {
  width: 100%;
  height: 100%;
  position: relative;
}
.strelicaSlika {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
footer li {
  display: block;
  padding-bottom: 16px;
}
footer a {
  color: #D2D7DF;
  transition: all 0.4s;
}
footer a:hover {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
footer p {
  margin: 0;
}
.foot1 {
  padding-top: 56px !important;
}
.foot2, .foot3, .foot4 {
  padding: 78px 0 40px 0 !important;
}
.foot2 h4, .foot3 h4, .foot4 h4 {
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 18px;
}
.foot2 a, .foot3 a, .foot4 a {
  font-size: 16px;
}
footer .foot1 img {
width: 46px;
height: auto;
padding-bottom: 18px;
}
footer .foot4 img {
  width: 24px;
  height: 24px;
  opacity: 0.85;
  transition: 0.4s;
}
footer .foot4 img:hover {
  opacity: 1;
}


.lastrow {
  color: #fff;
  background-color: #243861;
  font-size: 12px;
  text-align: center;
}
.lastrow p {
  padding: 10px 0;
}
/*---Media Queries --*/
@media (max-width: 992px) {
.navbar2 li {
  margin-right: 10px;
}
.navbar2 a {
  font-size: 15.4px;
}
.maskText {
  bottom: 30px;
  left: 30px;
}
.maskText h1 {
  font-size: 28px;
  padding-bottom: 6px;
}
.maskText p {
  font-size: 15px;
}
.filter h4 {
  font-size: 16px;
}
.foot1 {
  text-align: center;
  }
}
@media (max-width: 767px) {
.navbar1 {
  width: 100%;
  padding: 0 !important;
}
.navbar1 .navbar-nav {
  margin-right: 20px;
}
.navbar-brand {
  margin-left: 20px;
}
.navbar2 {
  width: 100%;
}
.navbar2 nav {
  margin: 0 20px;
}
.navbar2 a {
  font-size: 18px;
  padding: 8px 48px 12px 12px !important;
}
.navbar2 a:hover {
  border-bottom: 3px solid transparent;
}
.paddingright30 {
   padding: 0 0 30px 0 !important;
 }
.sortBy {
  display: none;
}
.sortBy1 {
  display: block;
  margin-bottom: 20px; 
}
.sortBy1 .dropdown {
  padding: 0;
  margin: 0 auto;
  text-align: center;
}
.sortBy1 p {
  color: #5C6673;
  font-size: 16px;
}
.opisprod p {
  font-size: 16px;
}
.opisprod h3 {
  font-size: 18px;
}
.opisprod h2 {
  font-size: 26px;
}
.opisprod .like {
  width: 50px;
  height: 30px;
}
.picture .novo {
  width: 50px;
  height: 50px;
  font-size: 16px;
}
.picture .novo p {
  padding-top: 15px;
}
.picture .sale1 {
  width: 50px;
  height: 50px;
  font-size: 16px;
  top: 66px;
}
.picture .sale1 p {
  padding-top: 15px;
}
.picture .sale {
  width: 50px;
  height: 50px;
  font-size: 16px;
}
.picture .sale p {
  padding-top: 15px;
}
.pageLinks {
  display: none;
}
.backgroundPic {
  width: 100%;
  padding-top: 20px;
}
.maskText {
  bottom: 20px;
  left: 20px;
}
.maskText h1 {
  font-size: 35px;
  padding-bottom: 5px;
}
.maskText p {
  font-size: 15px;
}
footer ul {
  padding: 0;
}
footer h4 {
  padding-bottom: 15px !important;
}
.foot2, .foot3, .foot4 {
  text-align: center;
  padding: 50px 0 0 0 !important;
}
.mainfooter {
  padding-bottom: 20px !important;
}
}
@media (max-width: 576px) {
.navbar1 .navbar-nav {
  margin-right: 10px;
}
.navbar-brand {
  margin-left: 10px;
}
.navbar-brand img {
  height: 36px;
  width: auto;
}
.navbar1 .nav-link1 {
 padding: 7px 8px 7px 0;
 font-size: 12px;
}
.navbar1 .nav-link2 {
 color: #5C6673;
 padding: 7px 6px 7px 6px;
 font-size: 12px;
}
.navbar1 .nav-link3 {
  padding: 7px 6px;
}
.navbar1 .nav-link3 img {
  height: 16px;
  width: auto;
}
.search {
  display: none;
}
.navbar-custom .navbar-toggler {
  margin: 5px 0;
  padding: 2px 6px;
}
.navbar2 a {
  font-size: 14px;
  padding: 8px 48px 10px 12px !important;
}
.filter h4 {
  font-size: 15px;
}
.filter p {
  font-size: 13px;
}
.sortBy1 p {
  font-size: 13px;
}
.pages {
  width: 90%;
  padding: 30px 0 50px 0; 
}
.arrowRight, .arrowLeft {
  width: 30px;
  height: 30px;
}
.arrowLeft {
  position: relative;
  margin-right: 16px;
}
.arrowRight {
  position: relative;
  margin-left: 0px;
}
.pageNo .page-link {
  font-size: 12px;
  border: none;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  padding: 4px;
  margin: 2px 12px 4px 0;
}
.arrowLeft img {
  width: 15px;
  height: auto;
}
.arrowRight img {
  width: 15px;
  height: auto;
}
.opisprod .like {
  width: 35px;
  height: 21px;
}
.picture .novo {
  width: 40px;
  height: 40px;
  font-size: 11px;
}
.picture .novo p {
  padding-top: 12px;
}
.picture .sale1 {
  width: 40px;
  height: 40px;
  font-size: 11px;
  top: 56px;
}
.picture .sale1 p {
  padding-top: 12px;
}
.picture .sale {
  width: 40px;
  height: 40px;
  font-size: 11px;
}
.picture .sale p {
  padding-top: 12px;
}
.backgroundPic {
  padding-top: 20px;
}
.maskText {
  bottom: 15px;
  left: 15px;
}
.maskText h1 {
  font-size: 28px;
  padding-bottom: 0px;
}
.maskText p {
  font-size: 14px;
}
.scrollUp {
  width: 36px;
  height: 36px;
}

footer p {
  font-size: 12px;
}
.foot1 a, .foot2 a, .foot3 a, .foot4 a {
  font-size: 12px;
}
.foot2 h4, .foot3 h4, .foot4 h4 {
  font-size: 16px;
}
footer .foot1 img {
width: 36px;
height: auto;
padding-bottom: 18px;
}
footer .foot4 img {
  width: 20px;
  height: 20px;
}
.lastrow {
  font-size: 8px;
}
footer h4 {
  padding-bottom: 10px !important;
}
.foot2, .foot3, .foot4 {
  padding: 30px 0 0 0 !important;
}
}
@media (max-width: 400px) {
.maskText {
  bottom: 10px;
  left: 10px;
}
.maskText h1 {
  font-size: 21px;
  padding-bottom: 0px;
}
.maskText p {
  font-size: 10px;
}
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








